<h1 class="fw-bold m-5 text-center fs-1">Current Customer: {{ firstName }} {{ lastName }}</h1>
<h1 class="fw-bold m-4 text-center fs-3">Choose different Customer</h1>
<mat-form-field class="w-100" *ngIf="selectedCustomer">
  <mat-label>Customer</mat-label>
  <mat-select [(value)]="selectedCustomer.id">
    <mat-option *ngFor="let customer of customers" value="{{customer.id}}">
      {{ customer.firstName }} {{ customer.lastName }}
    </mat-option>
  </mat-select>

</mat-form-field>


<h1 class="fw-bold m-3 text-center fs-1 buttons">
  <button mat-raised-button color="accent" (click)="openDialog()"> Create new Customer</button>
  <button mat-raised-button color="primary" (click)="login()"> Login as Customer</button>
</h1>

<mat-divider></mat-divider>

<table mat-table [dataSource]="tickets" class="mat-elevation-z8 mb-4" *ngIf="tickets">


  <!--  "poster"-->
  <ng-container matColumnDef="poster">
    <th mat-header-cell *matHeaderCellDef> Image</th>
    <td mat-cell *matCellDef="let element">
      <img mat-card-image alt='' src='{{ element.poster }}' routerLink="../movie/{{element.movieId}}"
           class='m-2 image' width="100">
    </td>
  </ng-container>

  <!--  "movieTitle",-->
  <ng-container matColumnDef="movieTitle">
    <th mat-header-cell *matHeaderCellDef> Movie Title</th>
    <td mat-cell *matCellDef="let element"> {{ element.movieTitle }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date</th>
    <td mat-cell *matCellDef="let element"> {{ element.dateTime.split("T")[0] }}</td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time</th>
    <td mat-cell *matCellDef="let element"> {{ element.dateTime.split("T")[1] }}</td>
  </ng-container>

  <ng-container matColumnDef="ticketPrice">
    <th mat-header-cell *matHeaderCellDef> Ticket Price</th>
    <td mat-cell *matCellDef="let element"> {{ element.ticketPrice }}</td>
  </ng-container>

  <ng-container matColumnDef="paymentMethod">
    <th mat-header-cell *matHeaderCellDef> Payment Method</th>
    <td mat-cell *matCellDef="let element"> {{ element.paymentMethod }}</td>
  </ng-container>

  <ng-container matColumnDef="rowNumber">
    <th mat-header-cell *matHeaderCellDef> Row</th>
    <td mat-cell *matCellDef="let element"> {{ element.rowNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="colNumber">
    <th mat-header-cell *matHeaderCellDef> Col</th>
    <td mat-cell *matCellDef="let element"> {{ element.colNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="screenType">
    <th mat-header-cell *matHeaderCellDef> Screen Type</th>
    <td mat-cell *matCellDef="let element"> {{ element.screenType }}</td>
  </ng-container>

  <ng-container matColumnDef="cinemaName">
    <th mat-header-cell *matHeaderCellDef> Cinema</th>
    <td mat-cell *matCellDef="let element"> {{ element.cinemaName }}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
