<mat-toolbar color="primary">
  <div class="container d-flex align-items-center justify-content-between">
    <span routerLink="/movies" class="cursor-pointer fw-bold">Movies Cinema</span>


    <div class="d-flex align-items-center justify-content-center">
      {{ firstName }} {{ lastName }}

      <button mat-raised-button class="example-icon favorite-icon"
              class="ms-3"
              color="accent"
              aria-label="Example icon-button with heart icon"
              routerLink="customer">
        <mat-icon>account_circle</mat-icon>
        Customer
      </button>
    </div>


  </div>

</mat-toolbar>


<div class="container">
  <router-outlet></router-outlet>
</div>
