.info {
  font-size: 1.125rem;
}

.details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

table {
  margin-bottom: 7.5rem;
}

.make-gold {
  color: red;
  background: blue;
}

.disable {
  pointer-events: none;
}


@media screen and (max-width: 960px) {
  .projection-info {
    flex-direction: column;
  }
}
