<section class="row p-5" *ngIf="movie">
  <div class="poster col-md-4 col-sm-12">
    <img class="img-fluid" [src]="movie.poster" [alt]="movie.title">
  </div>
  <div class="info col-md-8 col-sm-12">
    <div>

      <h1 class="fs-1 fw-bold">{{ movie.title }}</h1>

      <div class="">
        <span>{{ movie.description }}</span>
      </div>
    </div>
    <div></div>

    <div class="details">

      <div class="d-flex">
        <b>Rating:</b>
        <span class="d-flex align-items-center">
        <mat-icon style="font-size: 21px">star</mat-icon>
        <span> {{ movie.rating }}</span>
      </span>
      </div>

      <div class="">
        <b>Special Requirement:</b>
        <span> {{ movie.specialRequirement }}</span>
      </div>

      <div class="">
        <b>Duration:</b>
        <span> {{ movie.duration }} min</span>
      </div>

      <div class="">
        <b>Genre:</b>
        <span> {{ movie.genres }}</span>
      </div>
    </div>

  </div>

</section>

<!--<mat-divider></mat-divider>-->

<h1 class="fs-1 my-5 text-center fw-bold"> See Available Tickets</h1>


<div class="d-flex justify-content-between mb-4 projection-info" *ngIf="projectionInfo">
  <div class=" fs-5 text-uppercase">{{ projectionInfo.cinemaName }}, {{ projectionInfo.city }},
    {{ projectionInfo.country }} - Hall {{ projectionInfo.hallNumber }}
  </div>
  <div class=" fs-5">
    <b>Date:</b>
    {{ projectionInfo.date }} - {{ projectionInfo.time }}
  </div>
</div>


<table mat-table [dataSource]="tickets" class="mat-elevation-z8" *ngIf="tickets">

  <ng-container matColumnDef="seatRow">
    <th mat-header-cell *matHeaderCellDef> Seat Row</th>
    <td mat-cell *matCellDef="let element"> {{ element.seatRow }}</td>
  </ng-container>

  <ng-container matColumnDef="seatNumber">
    <th mat-header-cell *matHeaderCellDef> Seat Number</th>
    <td mat-cell *matCellDef="let element"> {{ element.seatNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price</th>
    <td mat-cell *matCellDef="let element"> {{ element.price }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" [disabled]="element.isBought"
              routerLink='/projection/{{element.movieId}}'>
        <mat-icon>shopping_cart</mat-icon>
        Buy Ticket
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


